<!-- patient-range.component.html -->
<div class="patient-range-container">
  <div class="patient-range-left-container">
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
      <!-- Existing form fields -->

      <div class="form-group">
        <label for="patient-id">Patient ID</label>
        <input autocomplete="off" type="text" id="patient-id" formControlName="patientId" />
      </div>

      <div class="form-group">
        <label>Interpretation:</label>
        <div class="radio-group">
          <label>
            <input type="radio" formControlName="interpretation" value="within range" />
            Within Range
          </label>
          <label>
            <input type="radio" formControlName="interpretation" value="out of range" />
            Out of Range
          </label>
        </div>
      </div>

      <button [disabled]="isSubmitButtonDisabled || this.patientForm.invalid" type="submit"
        [ngClass]="{ 'disabled-button': isSubmitButtonDisabled }">
        Submit
      </button>

      <ng-container *ngIf="isShowTimer">
        <div class="form-group" style="margin-top: 2rem">
          <label for="task-duration">Task Duration (seconds)</label>
          <div class="input-with-button">
            <input type="number" id="task-duration" formControlName="taskDurationSeconds" />
            <!-- <button type="button" class="trigger-button" (click)="triggerSettings()">⚙️</button> -->
          </div>
        </div>
        <div class="form-group">
          <label for="break-duration">Break Duration (seconds)</label>
          <div class="input-with-button">
            <input type="number" id="break-duration" formControlName="breakDurationSeconds" />
            <!-- <button type="button" class="trigger-button" (click)="triggerSettings()">⚙️</button> -->
          </div>
        </div>

        <div class="form-group">
          <label for="break-time-interval">Break After X Seconds</label>
          <div class="input-with-button">
            <input type="number" id="break-time-interval" formControlName="breakTimeIntervalSeconds" />
            <!-- <button type="button" class="trigger-button" (click)="triggerSettings()">⚙️</button> -->
          </div>
        </div>
        <div class="form-group">
          <label for="break-count-interval">Break After X Records</label>
          <div class="input-with-button">
            <input type="number" id="break-count-interval" formControlName="breakCountInterval" />
            <!-- <button type="button" class="trigger-button" (click)="triggerSettings()">⚙️</button> -->
          </div>
        </div>

        <div class="form-group">
          <label>Break Interval Type:</label>
          <div class="radio-group">
            <label> <input type="radio" formControlName="breakIntervalType" value="count" /> Count </label>
            <label> <input type="radio" formControlName="breakIntervalType" value="time" /> Time </label>
          </div>
        </div>
      </ng-container>
    </form>
  </div>

  <div class="patient-range-right-container">
    <!-- <div *ngIf="isShowProgressClicked" class="card"> -->
    <div class="card">
      <div class="card-content">
        <p *ngIf="isShowStatistics" class="card-total-record">Total Record: {{ totalRecord }}</p>
        <p *ngIf="isShowStatistics" class="card-correct-record">Correct Record: {{ correctRecord }}</p>
        <p class="card-timer">Timer: {{ timeRemaining | formatTime }}</p>
        <p *ngIf="breakRemaining >= 1" class="card-break">Break Timer: {{ breakRemaining | formatTime }}</p>
        <p *ngIf="showTimeBank && timeBank >= 1" class="card-break">Accrued Break Time: {{ timeBank | formatTime }}</p>
        <!-- Your additional progress content goes here -->
      </div>
    </div>

    <!-- <button type="button" (click)="showProgress()">Show Progress</button> -->
    <p>
      <button type="button" class="download" (click)="downloadRecords()">Download Records</button>
    </p>
    <p>
      <button type="button" [disabled]="!this.sessionSettings?.showProgressToggle" (click)="toggleShowStatistics()">
        Show Records
      </button>
    </p>

    <!-- <p>
      <button type="button" (click)="isTimerBlockClicked()">Show timer settings</button>
    </p> -->
    <hr *ngIf="isShowTimer" />
    <!-- <p *ngIf="isShowTimer">
      <button type="button" (click)="triggerSettings()">Save Participant Settings</button>
    </p> -->

    <p></p>
  </div>
</div>